{% extends 'base.html' %}
{% block content %}
<section id="about" class="about">
    <div class="container">

      <div class="row content" style="margin-top:80px;">
        <div class="col-lg-6">
          <h2>World class conversational AI API</h2>
          <h3>Our innovative API offers a wide range of advantages to help you streamline your operations and improve your customer experience.</h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            we're on a mission to empower African developers to build chatbots and conversational experiences that are tailored to African languages. We believe that language is at the core of communication, and our goal is to democratize natural language processing tools around African languages.
            <br>
            <br>

            Advantages of our bot
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Multilingual support</li>
            <li><i class="ri-check-double-line"></i> Integration with other services</li>
            <li><i class="ri-check-double-line"></i> Scalability</li>
          </ul>
          <br>
            <br>
          <p class="fst-italic">
            Our team of experts is constantly working to refine and optimize our algorithms, ensuring that our conversational AI engine can handle even the most complex and nuanced language interactions. Whether it's understanding local dialects or interpreting complex sentence structures, our platform is designed to provide a seamless and intuitive experience for end-users across all messaging channels.
          </p>
        </div>
      </div>

    </div>
  </section>

 {% endblock %}