{% extends 'base.html' %}
{% block content %}
<link href="static/css/cards_models.css" rel="stylesheet" type="text/css" />
<script src="static/js/cards_models.js" type="text/js" ></script>

<ul class="cards">
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--fence"></div>
      <div class="card__content">
        <div class="card__title">Large Language Model (LLM)</div>
        <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
        <span class="user_popup">
          <a href="{{url_for('file_upload')}}">
        <button class="btn btn--block card__btn popup-trigger">
          Get Started
        </button>
      </a>
      </span>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--river"></div>
      <div class="card__content">
        <div class="card__title">Transformer Model</div>
        <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
        <span class="user_popup">
          <a href="{{url_for('file_upload')}}">
          <button class="btn btn--block card__btn popup-trigger">
          Get Started
          </button>
      </a>
      </span>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--record"></div>
      <div class="card__content">
        <div class="card__title">Recurrent Nerual Network (RNN)</div>
        <p class="card__text">This defines the ability for a flex item to shrink if necessary. Negative numbers are invalid.</p>
        <span class="user_popup">
          <a href="{{url_for('file_upload')}}">
          <button class="btn btn--block card__btn popup-trigger">
            Get Started
          </button>
      </a>
      </span>
      </div>
    </div>
  </li>
  <!-- <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--flowers"></div>
      <div class="card__content">
        <div class="card__title">Flex Basis</div>
        <p class="card__text">This defines the default size of an element before the remaining space is distributed. It can be a length (e.g. 20%, 5rem, etc.) or a keyword. The auto keyword means "look at my width or height property."</p>
        <button class="btn btn--block card__btn">Button</button>
      </div>
    </div>
  </li> -->
</ul>

<div class="overlay"></div>
{% endblock %}
<!-- All scripts will go here -->
{% block scripts %}
    {{  super() }}

    <!-- Timestamp formatting -->
    {{ moment.include_moment() }}
    <!-- End of timestamp formatting -->

    <script>
$('.menu li').on('click', function(){
  $('.content').fadeIn(0);
  $('.overlay').fadeIn(600);
  var elementName = $(this).attr('name');
  $('.content li.'+elementName).addClass("active");
 var thisLi = ('.content li.'+elementName);
  $(thisLi+" .content-wrap").delay(800).fadeIn(300);
});

$('.overlay').on('click', function(){
    $('.content-wrap').fadeOut(50);
    $('.content li').removeClass("active");
    $('.content').delay(600).fadeOut("slow");
    $(this).fadeOut(600);
});


        $(function () {
            var timer = null;
            $('.popup-trigger').hover(
                function(event) {
                    // mouse in the event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/model_setup/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 500);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            )
        });
    </script>    
{% endblock %}