{% extends 'dashbase.html' %}
{% block content %}

<div class="container">
          
    {% if user %}

    
      <main id="main" class="main">
    
        <div class="pagetitle">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Welcome</li>
              <li class="breadcrumb-item active">{{ user[1] }}</li>
            </ol>
          </nav>
        </div>
    
        <section class="section dashboard">
          <div class="row">
    
            <div class="col-lg-4">
                <div class="card info-card key-card">
                    <div class="card-body">
                        <h5 class="card-title">Step 1 <span>| Generate API Key</span></h5>
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-primary">Generate Key <i class='bx bx-key' style='font-size: 18px;'></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-4">
                <div class="card info-card upload-card">
                    <div class="card-body">
                        <h5 class="card-title">Step 2 <span>| Upload API Key</span></h5>
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-info">Upload API Key <i class='bx bx-upload' style='font-size: 18px;'></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="card info-card download-card">
                    <div class="card-body">
                        <h5 class="card-title">Step 3 <span>| Download files</span></h5>
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-success">Download Files <i class='bx bx-download' style='font-size: 24px; margin-left: 8px;'></i></button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </section>
          <div class="col-12">
            <div class="card top-selling overflow-auto">

              <div class="card-body pb-0">
                <h5 class="card-title">How to run <span>| Downloded Files</span></h5>

              </div>

            </div>
          </div>    
    
    {% endif %}
</div>  



{% endblock%}
