{% extends 'base.html' %}
{% block content %}
<div class="landing-page">
  <div class="content">
    <div class="container">
      <div class="info">
        <h1>Looking to create and Deploy a chat assistant?</h1>
        <p>Mtafsiri.io offers a powerful No-code builder that supports intent-driven and ChatGPT kind-like chatbots customized to your use case based on providers like OpenAI, Anthropic, and Cohere.</p>
        <button onclick="window.location.href='/about'" class="btn btn-info">More About Us</button>
      </div>
      <div class="image">
        <img src='../static/img/Background.png'>
      </div>
    </div>
  </div>
</div>
{% endblock %}
