{% extends 'base.html' %}
{% block content %}

  <section id="pricing" class="pricing" style="margin-top: 100px;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Pricing</h2>
        <p>Choose the plan that best fits your needs</p>
      </div>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Free Plan</h3>
            <h4><sup>Ksh    </sup>0<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Basic chatbot functionality</li>
              <li><i class="bx bx-check"></i> Limited access to Mtafsiri's AI capabilities</li>
            </ul>
            <a href="{{ url_for('index') }}" class="buy-btn">Try out now</a>
          </div>
        </div>


        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box">
            <h3>Developer Plan</h3>
            <h4><sup>Ksh    </sup>1000<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Advanced chatbot functionality</li>
              <li><i class="bx bx-check"></i> Download Complete bot</li>
              <li><i class="bx bx-check"></i> Access Different Domain bot</li>
              <li><i class="bx bx-check"></i> Full access to Mtafsiri's AI capabilities</li>
            </ul>
            <a href="{{ url_for('login') }}" class="buy-btn">Get Started</a>
          </div>
        </div>

      </div>

    </div>
  </section>
  {% endblock %}
