{% extends 'base.html' %}
{% block content %}
<link href="static/css/setup_page.css" rel="stylesheet" type="text/css"/>
<script src="static/js/setup_page.js" type="text/js" ></script>


<!-- Canvas -->
<canvas class="orb-canvas"></canvas>
<!-- Overlay -->
<div class="overlay">
  <!-- Overlay inner wrapper -->
  <div class="overlay__inner">
    <!-- Title -->
    <h1 class="overlay__title">
      Create your own custom chatbot with us. Just take 5 easy
      <span class="text-gradient">minutes</span> to build your own business bot!!
    </h1>
    <!-- Description -->
    <p class="overlay__description">
      At your own will you can decised to try out our chatbots that 
      range from LLM (Large Language Model), Transformer models to RNN models
      (Recurrent Nerual Network.), before you start creating your own business
      chatbot that will only take you few minutes to set up and save you alot 
      of cost.
      <strong>We're here to help your business grow.</strong>
    </p>
    <!-- Buttons -->
    <div class="overlay__btns">

      <button class="overlay__btn overlay__btn--transparent">
        <a href="{{url_for('dashboard')}}" target="_blank">

          Try Out
        </a>
      </button>

      <button class="overlay__btn overlay__btn--colors">
        <a href="{{url_for('model_setup')}}">
        <span>Start creating</span>
        <span class="overlay__btn-emoji">🎨</span>
        </a>
      </button>
    </div>
  </div>
</div>
{% endblock %}