{% extends 'base.html' %}
{% block content %}
<div class="wrapper">

    <div class="card_Container">
        <div class="card">

            <div class="imbBx">
                <img src="../static/img/rego.jpeg" alt="">
            </div>

            <div class="content">
                <div class="contentBx">
                    <h3>Peter Rogendo <br><span>Full Stack Python Developer</span></h3>
                </div>
                <ul class="sci">
                    <li style="--i: 1">
                        <a href="https://twitter.com/RogendoPeter"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li style="--i: 2">
                        <a href="https://github.com/Rogendo"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li style="--i: 3">
                        <a href="https://www.linkedin.com/in/peter-rogendo/"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="card">

            <div class="imbBx">
                <img src="../static/img/pro.JPG" alt="">
            </div>

            <div class="content">
                <div class="contentBx">
                    <h3>Fredrick Kioko<br><span>Software Developer |  Data Scientist | EMR Developer</span></h3>
                </div>
                <ul class="sci">
                    <li style="--i: 1">
                        <a href="https://twitter.com/Fredrickkilon18"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li style="--i: 2">
                        <a href="https://github.com/its-kios09"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li style="--i: 3">
                        <a href="https://www.linkedin.com/in/fredrick-kioko-506550171/"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="card">

            <div class="imbBx">
                <img src="./image/pic04.jpg" alt="">
            </div>

            <div class="content">
                <div class="contentBx">
                    <h3>Jones Alukwe<br><span>Web Developer</span></h3>
                </div>
                <ul class="sci">
                    <li style="--i: 1">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li style="--i: 2">
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li style="--i: 3">
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
{% endblock %}
